In [19]:
#Add Dependencies
import pandas as pd
import numpy as np
# import psycopg2 as pg
from sklearn.preprocessing import OneHotEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [20]:
read_file = "Working/2012_staff_clean.csv"
write_file = "2012_staff_processed.csv"

In [21]:
# Import our input dataset
staff_df = pd.read_csv(read_file , low_memory=False, index_col="Badge ID")

In [22]:
#Check imported Dataset
staff_df.head()

,BirthYEAR,BirthMONTH,BirthDAY,Age,City,State,ZIP,Country,Division,Department
Badge ID,,,,,,,,,,
S0089,1969,5,24,42,San Jose,CA,95130,US,Executive Staff,Executive Staff
S0386,1978,8,15,33,Hayward,CA,94545,US,Executive Staff,Executive Staff
S0059,1975,2,14,37,Santa Clara,CA,95051,US,Executive Staff,Executive Staff
S0066,1985,8,30,26,Foster City,CA,94404,US,Fan Services,Fan Services
S0685,1983,8,21,28,Cupertino,CA,95014,US,Fan Services,Fan Services

In [23]:
#Check Dataset Column Types
staff_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 951 entries, S0089 to S5270
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   BirthYEAR   951 non-null    int64
 1   BirthMONTH  951 non-null    int64
 2   BirthDAY    951 non-null    int64
 3   Age         951 non-null    int64
 4   City        951 non-null    object
 5   State       951 non-null    object
 6   ZIP         951 non-null    object
 7   Country     951 non-null    object
 8   Division    951 non-null    object
 9   Department  951 non-null    object
dtypes: int64(4), object(6)
memory usage: 81.7+ KB

In [24]:
staff_df.columns = ["BirthYear", "BirthMonth", "BirthDay", "Age", "City", "State", "Zip", "Country", "Division", "Department"]

In [25]:
staff_df.head()

,BirthYear,BirthMonth,BirthDay,Age,City,State,Zip,Country,Division,Department
Badge ID,,,,,,,,,,
S0089,1969,5,24,42,San Jose,CA,95130,US,Executive Staff,Executive Staff
S0386,1978,8,15,33,Hayward,CA,94545,US,Executive Staff,Executive Staff
S0059,1975,2,14,37,Santa Clara,CA,95051,US,Executive Staff,Executive Staff
S0066,1985,8,30,26,Foster City,CA,94404,US,Fan Services,Fan Services
S0685,1983,8,21,28,Cupertino,CA,95014,US,Fan Services,Fan Services

In [26]:
#Check remaining columns
staff_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 951 entries, S0089 to S5270
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   BirthYear   951 non-null    int64
 1   BirthMonth  951 non-null    int64
 2   BirthDay    951 non-null    int64
 3   Age         951 non-null    int64
 4   City        951 non-null    object
 5   State       951 non-null    object
 6   Zip         951 non-null    object
 7   Country     951 non-null    object
 8   Division    951 non-null    object
 9   Department  951 non-null    object
dtypes: int64(4), object(6)
memory usage: 81.7+ KB

In [27]:
#Export dataset to CSV
staff_df.to_csv(write_file)